h1{
    color: rgb(241, 158, 57);
    font-size: 100px;
}
/* .whole{
    /* background-color: rgb(192, 141, 78) ; */
    /* background-size: 300px 100px; */
/* } */ 
.create{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    
    /* background: t; */
    opacity: 100%;

    /* background-color: aquamarine; */
}
.create label{
    text-align: left;
    font-size: 25px;
}
.create input,.create select{
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid#ddd;
    box-sizing: border-box;
    display: block;
}
/* .create button{
    background-color: #f1356d;
} */